<div class="container" [class.is-mobile]="mobileQuery.matches">

    <!-- App Header-->
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="app-name">Note</h1>
    </mat-toolbar>
  
    <!-- Sidenav  -->
    <mat-sidenav-container class="sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav class="sidenav-bar" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <a mat-list-item routerLink="." *ngFor="let note of notes; let i = index" (click)="viewSelectedNote(note, i)" >{{note.note_id}} {{note.title}}</a>
        </mat-nav-list>
      </mat-sidenav>
      
      <!-- Sidenav content -->
      <mat-sidenav-content>
        <!-- <p>{{noteContent.note}}</p> -->
        <form class="example-form">
          <mat-form-field class="note-title" floatLabel="never">
            <input matInput placeholder="Title" [formControl]="noteTitleFC" (change)="onNoteChange()">
          </mat-form-field>
          <!-- <mat-divider></mat-divider>  -->
          <mat-form-field class="note-content" floatLabel="never">
            <textarea matInput placeholder="Take a note..." [formControl]="noteFC" (change)="onNoteChange()"></textarea>
          </mat-form-field>
        </form>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
